{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_certifieth/settings


    Example context (json):
    {
       
    }

}}
    <div class="landing-page-container">
    <div id="shortDescription">You do not have a license for the use of the software</div>
    <img src="{{var1}}" alt="Seal Logo" class="seal-logo">
    Seal represents a groundbreaking fusion of Moodle, the renowned platform trusted by over 350,000 educational institutions worldwide, and Blockchain technology. Our innovative Moodle plug-in introduces a pioneering method to generate on-chain educational certifications. Leveraging the Ethereum blockchain, Seal facilitates seamless attestation and issuance of NFT-based certifications, streamlining the process for institutions and educators globally.
    <div class="sponsor-logos-container">
    <p> </p>
    <p>To obtain it or to get 5 test certificates contact us at <A HREF="https://sealweb3.com/">sealweb3.com/</A></p>
    </div>
    </div>