{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_seal/view


    Example context (json):
    {
       
    }

}}
<h1>{{#str}}teachertitle, mod_seal{{/str}}</h1>
<h2>{{var1}}</h2>
<table class="generaltable">
    <thead>
        <tr>
            <th>{{#str}}firstname, mod_seal{{/str}}</th>
            <th>{{#str}}lastname, mod_seal{{/str}}</th>
            <th>{{#str}}wallet, mod_seal{{/str}}</th>
            <th>{{#str}}percentage, mod_seal{{/str}}</th>
            <th>{{#str}}aprobe, mod_seal{{/str}}</th>
            <th>{{#str}}delete, mod_seal{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#table}}
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{wallet}}</td>
            <td>{{percentage}}</td>
            <td>{{aprobe}}</td>
            <td><a href="lib.php?userid={{id}}&action=delete" onclick="return confirm('¿Está seguro de que desea eliminar este usuario?');" id="{{id}}"><i class="icon fa fa-trash fa-fw " title="Delete" role="img" aria-label="Delete"></i></a>
            </td>
        </tr>
        {{/table}}
    </tbody>
</table>